fastapi>=0.136.1
starlette>=1.0.0
uvicorn[standard]
aiosqlite
numpy
pandas
python-dotenv
sqlalchemy
requests
pydantic
python-multipart
scikit-learn
pgmpy>=0.1.25
scipy
holidays
playwright>=1.40.0
#networkx
#matplotlib
#seaborn
xarray
plotly
jinja2
cdsapi
