fastapi
uvicorn[standard]
aiosqlite
numpy
pandas
python-dotenv
sqlalchemy
requests
pydantic
python-multipart
scikit-learn
pgmpy>=0.1.25
scipy
holidays
playwright>=1.40.0
#networkx
#matplotlib
#seaborn